.text {
    display         : flex;
    justify-content : center;
    max-width       : 600px;
    margin          : 60px auto;
    flex-direction  : column;
    align-items: center;
  
    p {
      text-align : center;
    }
  }